# Compiled files
__pycache__/

# Virtual environments
venv/
.venv/

# Checkpoints of Jupyter notebooks
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Docs
docs/build/
latex


# Testing
.pytest_cache/

# Packaging
build/
dist/
*.egg-info/
artefacts/

# Log files
*.log

# CUDA 
*.o

# Dummy files
trash/