# Compiled files
__pycache__/

# Virtual environments
venv/
.venv/

# Checkpoints of Jupyter notebooks
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Testing
.pytest_cache/

# Packaging
build/
dist/
*.egg-info/

# Log files
*.log

# CUDA 
*.o
